<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    {% if nome_pessoa %}
        <h1>Hello World!! {{ nome_pessoa }}</h1>
        <p style="color: red">{{ nome_pessoa }}, agora escreva um paragrafo de texto.</p>
    {% else %}
        <h1>Hello desconhecido</h1>
        <h4>Escolha um nome e coloque na rota</h4>
        <ul>
        {% for item in lista %}
            <li> {{ item }}</li>
        {% endfor %}
        </ul>
        {% endif %}

</body>
</html>
